#body
{
    background-color: #2A2A2A;
    overflow-x: hidden;
    
}



.box
{
    min-height: 650px;
     margin-top: 20px;
}


/* navbar */

/* navbar color */
body > nav
{
    background: #3F3F3F;
    
}


#logo
{
    width: 110px;
    height: 50px;
}


/* info  */

body > section > div > div.col-lg-6 > div > h1
{
    margin-top: 70px;
    padding: 10px;
    font-size: 60px;
    font-weight: bold;
    color: #65AAD9;
}

body > section > div > div.col-lg-6 > div > p:nth-child(2)
{
    padding: 10px;
    font-size: 27px;
    color: #95989A;
}

body > section > div > div.col-lg-6 > div > p:nth-child(3)
{
    padding: 10px;
    font-size: 27px;
    color: #95989A;
}


/*///////////////////////////////    dashboard     ///////////////////////////////////////////////////// */

/* dashboard img*/
.dashboard
{
    width: 715px;
    height: 600px;
    background-color: #4D4D4D;
    margin-top: 95px;
    margin-left: 15px;
    padding: 10px;

}

#home p
{
    color: #888;
    text-align: justify;
    text-justify: inter-word;
    padding: 10px;
    font-size: 20px;
}

#home h1
{
    margin-top: 80px;
    color: #65AAD9;
    font-size: 45px;
    font-weight: bold;
    padding: 10px;
}

#statewise > div:nth-child(2) > h3
{
    color: #65AAD9;;
}
#worldconfirmed
{
    background-color: #5a5a5a;
    border-radius: 5px;
    margin: 5px;
    height: 105px;
    text-align: center;
    box-shadow: 0px 10px 25px -4px;
}

#worldconfirmed #conf,#confirmed,#tdyconfirmed,i,#indconfirmed,#stateconfirmed
{
    color: rgba(246, 71, 71, 1);
}


#worldconfirmed #tdyconfirmed,#indtdyconfirmed,#statetdyconformed
{
    font-weight: 500;
    color: rgba(246, 71, 71, 1);
}

#worldconfirmed #tdyconfirmed,#indtdyconfirmed,#statetdyconformed
{
    font-weight: 500;
    color: rgba(246, 71, 71, 1);
}

/*active*/

#worldconfirmed #active,#worldactive,#indactive,#stateactive,#tdyactive,#indtdyactive,#statetdyactive
{
    color:	#32CD32
}


#worldconfirmed #rec,#recovered,#tdyrecovered,#indtdyrecovered,#indrecovered,#staterecovered,#statetdyrecovered
{
    color:	#FA9F42;
}



#worldconfirmed #tdyconfirmed,#indtdyconfirmed,#statetdyconformed
{
    font-weight: 500;
    color: rgba(246, 71, 71, 1)
}




#worldconfirmed #conf
{
    font-weight: 500;
}

#worldconfirmed #confirmed,#recovered,#worldactive,#deaths,#indconfirmed,#indactive,#indrecovered,#inddeaths,#stateconfirmed,#stateactive,#staterecovered,#statedeaths
{
    font-size: 29px;
    font-weight: bolder;
}



#dashboard > div > div > div:nth-child(n) > div:nth-child(1):hover
{
    transition: 1s;
    background: rgba(226, 106, 106, 0.9);
    color: rgb(61, 61, 61);
}

#confirmed > a:hover
{
    color: rgb(39, 38, 38);
}


#body > section > div > div.row > div > div > div > div > h3:nth-child(1)
{
    text-align: center;
}


#body > section > div > div.row > div > div > div > div > h3:nth-child(2)
{
    margin-left: 0px;
}

#heading
{
    color: #65AAD9;
    font-size: 35px;
    text-align: center;
}

#world
{
    margin-top: 30px;
    text-transform: uppercase;
}

#states
{
    margin-top: 10px;
    text-transform: uppercase;
}

#india
{
    margin-top: 10px;
    text-transform: uppercase;
}



/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }


  #myInput
  {
      background-color: darkgray;
      border: none;
    
      margin-top: 5px;
  }

  #statewise > div:nth-child(1) > div.input-group > div
  {
      margin-top: 5px;
  }

/*///////////////////////////////    dashboard     ///////////////////////////////////////////////////// */

#body > div > div:nth-child(1) > div > h3
{
    background-color: #3F3F3F;
    color: azure;
    left: 10px;
}

#tablescroll
{
    height: 1110px;
    overflow-y: scroll;
    margin-top: 15px;
    /* overflow-x: scroll; */
}

#tablescroll thead th
{
    position: sticky;
    top: 0;
    background-color: black;

}




#tablescroll > table > tbody > tr:hover
{
    background-color: cadetblue;
}


tbody tr
{
    background: rgba(46, 49, 49, 1);
    border: 2px solid rgb(109, 109, 109);
}


#body > div:nth-child(3) > div:nth-child(2) > div > h3
{
    margin-top: 10px;
    color: #65AAD9;
}

/* GRAPH */

#indconfrm
{
    background: #ffa6a6e5;
    border-radius: 10px;
    padding: 20px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

#indrecv
{
    background: rgba(175, 255, 168, 0.884);
    border-radius: 10px;
    padding: 20px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

#inddeceased
{
    background: rgba(189, 195, 199, 1);
    border-radius: 10px;
    padding: 20px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}


/*symptoms*/

#symp
{
    margin-top: 25px;
    margin-left: 15px;
    margin-right: 15px;
    padding: 25px;
    background: rgba(108, 122, 137, 1);
    border-radius: 10px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

#symp p
{
    font-size: 18px;
    font-weight: 520;
}




#sympimg
{
margin: 10px;    
padding: 10px;
border: 2px solid rgba(149, 165, 166, 1);
background: rgba(149, 165, 166, 1);
box-shadow: 0px 0px 15px -2px;
}


#sympimg2
{
margin: 10px;    
padding: 10px;
height: 350px;
border: 2px solid rgba(149, 165, 166, 1);
background: rgba(149, 165, 166, 1);
box-shadow: 0px 0px 15px -2px;
}




#symp > div:nth-child(1) > img
{
    margin-left: 50px;
}

#sympimg a
{
    padding: 15px;
    margin-top: 8px;
    font-size: 23px;
    font-weight: 700;
}

#body > hr
{
    border: 1px solid rgb(59, 59, 59);
}


#mesr
{
    margin-top: 25px;
    margin-left: 15px;
    margin-right: 15px;
    padding: 25px;
    background: rgba(189, 195, 199, 1);
    border-radius: 10px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    width: auto;
}


#mesr p
{
    font-size: 18px;
    font-weight: 400;
}

/*Footer*/


/* footer
{
    margin-top: 20px;
    background: #3F3F3F;
    padding: 15px;
}


footer #head
{
    font-size: 22px;
    font-weight: 750;
    color: #65AAD9;
}

#body > footer > div > div:nth-child(3) > a:nth-child(3) > img
{
    width: 80px;
    height: 80px;
} */



.footer-bs {
    background-color: #3c3d41;
	padding: 60px 40px;
	color: rgba(255,255,255,1.00);
	margin-bottom: 20px;
	border-bottom-right-radius: 6px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 6px;
}
.footer-bs .footer-brand, .footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { padding:10px 25px; }
.footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { border-color: transparent; }
.footer-bs .footer-brand h2 { margin:0px 0px 10px; }
.footer-bs .footer-brand p { font-size:12px; color:rgba(255,255,255,0.70); }

.footer-bs .footer-nav ul.pages { list-style:none; padding:0px; }
.footer-bs .footer-nav ul.pages li { padding:5px 0px;}
.footer-bs .footer-nav ul.pages a { color:rgba(255,255,255,1.00); font-weight:bold; text-transform:uppercase; }
.footer-bs .footer-nav ul.pages a:hover { color:rgba(255,255,255,0.80); text-decoration:none; }
.footer-bs .footer-nav h4 {
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-bottom:10px;
}

.footer-bs .footer-nav ul.list { list-style:none; padding:0px; }
.footer-bs .footer-nav ul.list li { padding:5px 0px;}
.footer-bs .footer-nav ul.list a { color:rgba(255,255,255,0.80); }
.footer-bs .footer-nav ul.list a:hover { color:rgba(255,255,255,0.60); text-decoration:none; }

.footer-bs .footer-social ul { list-style:none; padding:0px; }
.footer-bs .footer-social h4 {
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 3px;
}
.footer-bs .footer-social li { padding:5px 4px;}
.footer-bs .footer-social a { color:rgba(255,255,255,1.00);}
.footer-bs .footer-social a:hover { color:rgba(255,255,255,0.80); text-decoration:none; }

.footer-bs .footer-ns h4 {
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-bottom:10px;
}
.footer-bs .footer-ns p { font-size:12px; color:rgba(255,255,255,0.70); }

@media (min-width: 768px) {
	.footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { border-left:solid 1px rgba(255,255,255,0.10); }
}

#body > div.container-lg > footer > div > div.col-md-4.footer-nav.animated.fadeInUp
{
    align-items: center;
    justify-content: center;
}


#body > div.container-lg > footer > div > div.col-md-3.footer-ns.animated.fadeInRight > h4:nth-child(3) > a
{
    text-decoration: none;
}










@media only screen and (max-width: 360px) {
    .dashboard
    {
        width: 355px;
        height: 500px;
        overflow: hidden;
        background-color: #4D4D4D;
        margin-top: 0px;
        right: 5px;
    }

    #dashboard
    {
        width: 355px;
        height: 500px;
    }

    #worldconfirmed
    {
        background-color: #5a5a5a;
        height: 70px;
    }

    #worldconfirmed #conf,#confirmed,#tdyconformed,i
    {
        color: crimson;
    }

    #worldconfirmed #conf,#active,#rec,#death,#worldactive,#deaths
    {
        font-size: 6px;
        font-weight: 500;
        line-height: 1;
    }

    #worldconfirmed #confirmed,#recovered,#deaths,#indconfirmed,#indactive,#indrecovered,#inddeaths,#stateconfirmed,#stateactive,#staterecovered,#statedeaths
    {
        font-size: 9px;
        font-weight: 750;
        margin: 0;
        line-height: 2;
    }

    #worldconfirmed #tdyconfirmed,#tdyrecovered,#tdydeaths,#indtdyconfirmed,#indtdyrecovered,#indtdydeaths,#statetdyconformed,#statetdyrecovered,#statetdydeaths
    {
        font-size: 7px;
        left: 2px;
    }

    #worldconfirmed i
    {
        font-size: 6px;
        line-height: 0.5;
        margin-left: 2px;
    }
    #statewise
    {
        width: auto;
    }

    #stats
    {
        align-content: center;
        align-items: center;
        margin: 5px;
    }
 
    #symp > div:nth-child(1) > img
    {
        width: 400px;
        height: 450px;
        padding: 20px;
        margin-left: 0px;
    }

    #mesr
    {
        width: auto;
    }

    #sympimg2
    {
        height: auto;
    }


    #body > div.container-lg
    {
        margin: 10px;
    }
    
}




